framework: auto-detect
source https://www.myget.org/F/machine-learning/api/v3/index.json
source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/sentimentfs/api/v2

nuget Suave
nuget CassandraCSharpDriver
nuget FSharp.Core
nuget SentimentFS.NaiveBayes
nuget SentimentFS.Stemmer
nuget TweetinviAPI
nuget Hopac
nuget Akka
nuget Newtonsoft.Json
nuget Microsoft.NET.Test.Sdk
nuget Akka.Serialization.Hyperion
nuget xunit >= 2.3.0
nuget xunit.runner.visualstudio >= 2.3.0
nuget Akka.TestKit.Xunit2
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Configuration.EnvironmentVariables
nuget Microsoft.Extensions.Configuration.CommandLine
nuget Microsoft.Extensions.Configuration.Binder
nuget Expecto
nuget YoloDev.Expecto.TestSdk
clitool Microsoft.DotNet.Watcher.Tools
clitool dotnet-xunit >= 2.3.0
