framework: auto-detect
source https://www.myget.org/F/machine-learning/api/v3/index.json
source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/sentimentfs/api/v2

nuget Suave
nuget CassandraCSharpDriver
nuget FSharp.Core
nuget SentimentFS.NaiveBayes
nuget SentimentFS.Stemmer
nuget TweetinviAPI
nuget Hopac
nuget Akka
nuget Microsoft.NET.Test.Sdk
nuget xunit >= 2.3.0-beta5-build3769
nuget xunit.runner.visualstudio >= 2.3.0-beta5-build3769
nuget Akka.TestKit.Xunit2
nuget Expecto
clitool Microsoft.DotNet.Watcher.Tools
clitool dotnet-xunit >= 2.3.0-beta5-build3769
