framework: auto-detect
source https://www.myget.org/F/machine-learning/api/v3/index.json
source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/sentimentfs/api/v2

nuget CassandraCSharpDriver
nuget FSharp.Core
nuget SentimentFS.NaiveBayes
nuget SentimentFS.Stemmer
nuget TweetinviAPI
nuget Hopac
nuget Akka
nuget Akka.Remote
nuget Akka.Logger.Serilog
nuget Akka.Persistence.Redis
nuget Akka.Streams
nuget Akka.Streams.TestKit
nuget Akkling
nuget Akkling.Persistence
nuget Akkling.TestKit
nuget FsPickler 3.4.0
nuget Newtonsoft.Json
nuget Microsoft.NET.Test.Sdk
nuget Akka.Serialization.Hyperion
nuget xunit
nuget xunit.runner.visualstudio
nuget Akka.TestKit.Xunit2
nuget Giraffe
nuget Microsoft.AspNetCore.All
nuget Fable.JsonConverter
nuget Expecto
nuget YoloDev.Expecto.TestSdk
clitool Microsoft.DotNet.Watcher.Tools
clitool dotnet-xunit
