<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PostgresConnectionString" value="User ID=postgres;Password=postgres;Server=127.0.0.1;Port=5432;Database=postgres;Pooling=true;" />
  </appSettings>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor {
                provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                serializers {
                  hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
                }
                serialization-bindings {
                  "System.Object" = hyperion
                }
                deployment {
                  /sentiment {
                    router = round-robin-group
                    routees {
                      paths = [ /user/classifier ]
                    }
                    virtual-nodes-factor = 8
                    cluster {
                     enabled = on
                     max-nr-of-instances-per-node = 2
                     allow-local-routees = off
                     use-role = classifier
                    }
                  }
                }
              }
            debug {
                unhandled = on
            }
            remote {
              helios.tcp {
                public-hostname = "localhost"
                hostname = "localhost"
                port = "5003"
              }
            }
            cluster {
              auto-down-unreachable-after = 5s
              seed-nodes = [ "akka.tcp://sentimentfs@localhost:5001", "akka.tcp://sentimentfs@localhost:5002"]
              roles = [tweets]
            }
          }
      ]]>
    </hocon>
  </akka>
</configuration>
